@font-face {
    font-family: 'Consolas';
    src: url('Consolas.woff2') format('woff2'), url('Consolas.woff') format('woff'), url('Consolas.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@media only screen and (min-width: 375px) and (max-width: 667px) {
    .navbar-brand {
        width: 120px;
        font-size: 32px;
    }
    .navbar-brand img {
        height: 90px;
        /* put value of image height as your need */
        float: left;
        margin-right: 7px;
    }
}

@media only screen and (min-width: 375px) and (max-width: 667px) and (orientation: portrait) {
    .navbar-brand {
        width: 60px;
        font-size: 32px;
    }
    .navbar-brand img {
        height: 30px;
        /* put value of image height as your need */
        float: left;
        margin-right: 7px;
    }
}

@media only screen and (min-width: 375px) and (max-width: 667px) and (orientation: landscape) {
    .navbar-brand {
        width: 180px;
        font-size: 32px;
    }
    .navbar-brand img {
        height: 110px;
        /* put value of image height as your need */
        float: left;
        margin-right: 7px;
    }
}

.navbar-brand a {
    font-family: 'Times New Roman', Times, serif;
}

#navbar-primary .navbar-nav {
    width: 100%;
    text-align: center;
}

#navbar-primary .navbar-nav li {
    display: inline-block;
    float: none;
}

#navbar-primary .navbar-nav a {
    font-family: 'Consolas', serif;
    font-size: x-large;
    display: inline-block;
    flex-direction: row;
    float: none;
    padding-left: 30px;
    padding-right: 30px;
}

.bg-cryptalert {
    background-color: rgb(0, 36, 44);
}

.card.bg-cryptalert h1, h2, h3, h4 {
    color: rgb(244, 244, 244);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.card.bg-cryptalert p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(200, 200, 200);
}

.navbar-brand {
    width: 200px;
    font-size: 32px;
}

.navbar-brand img {
    height: 160px;
    /* put value of image height as your need */
    float: left;
    margin-right: 7px;
}

.ml-auto .dropdown-menu {
    left: auto !important;
    right: 0px;
}

body {
    background-color: rgb(21, 61, 70)
}

.cryptalert-form label {
    color: rgb(200, 200, 200);
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}